In [1]:
import pandas as pd

In [20]:
data = pd.read_csv('recommended_houses.csv', index_col=0)
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,long,has_basement,new_house,week,month,year,season,status,Sell Price,Profit
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,-122.257,0,0,42,10,2014,fall,Buy,244090.0,22190.0
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,-122.319,1,1,50,12,2014,winter,Not Buy,0.0,0.0
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,-122.233,0,1,9,2,2015,winter,Buy,234000.0,54000.0
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,-122.393,1,0,50,12,2014,winter,Not Buy,0.0,0.0
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,-122.045,0,0,8,2,2015,winter,Buy,561000.0,51000.0

In [21]:
data.shape

(18495, 27)

In [22]:
data[data['status'] == 'Buy'].shape

(6107, 27)

In [23]:
data.duplicated(subset=['id']).sum()

402

In [24]:
data.drop_duplicates(subset=['id'], inplace=True)

In [25]:
data[data['status'] == 'Buy'].shape

(5767, 27)

In [26]:
data[data['status'] == 'Buy'].duplicated(subset=['id']).sum()

0

In [28]:
data.shape

(18093, 27)

In [29]:
data.to_csv('recommended_houses.csv')